    @font-face {
        font-family: Lato;
        src: url('Lato-Bold.ttf');
    }

    .text-input
    {
        -fx-background-radius: 20;
        -fx-text-fill: #000000;
        -fx-prompt-text-fill: #D4CEE3;
    }

    .button1
    {
        -fx-background-color: #FF5E2C;
        -fx-text-fill: #ffffff;
        -fx-alignment: center;
    }

    .button1:hover
    {
        -fx-text-fill: #AA3E1D;
    }

    .button1:pressed
    {
        -fx-text-fill: #FF5E2C;
    }

    .button1:active
    {
        -fx-text-fill: #FF5E2C;
    }

    .button2
    {
        -fx-background-color: transparent;
        -fx-background-radius: 20;
        -fx-text-fill: #FF5E2C;
    }

    .button2:hover
    {
        -fx-background-radius: 20;
    }

    .button2:pressed
    {
        -fx-background-radius: 20;
    }

   /* .button3
    {
        -fx-background-color: linear-gradient(to top left, #35ACF1, #F6B46F);
        -fx-background-radius: 12;
        -fx-border-style: solid;
        -fx-border-radius: 12;
        -fx-border-insets: -5;
        -fx-border-color: linear-gradient(to top left, #35ACF1, #F6B46F);
    }

    .button3:hover
    {
        -fx-background-color: linear-gradient(to top left, #F6B46F, #36ACF1);
        -fx-background-radius: 12;
        -fx-border-style: solid;
        -fx-border-radius: 12;
        -fx-border-insets: -5;
        -fx-border-color: linear-gradient(to top left, #F6B46F, #35ACF1);
    }

    .button3:pressed
    {
        -fx-background-color: linear-gradient(to top left, #35ACF1, #F6B46F);
        -fx-background-radius: 12;
        -fx-border-style: solid;
        -fx-border-radius: 12;
        -fx-border-insets: -5;
        -fx-border-color: linear-gradient(to top left, #35ACF1, #F6B46F);
    }*/

    .button3
    {
        -fx-background-color: #FC6F63;
        -fx-alignment: center;

    }

    .button3-unavailable
    {
        -fx-background-color: #4B4B4B;
        -fx-alignment: center;

    }

    .button4
    {
        -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
        -fx-background-radius: 30 30 30 30;
    }

    .button4:hover
    {
        -fx-background-color: linear-gradient(to top left, #D4CEE3, #41951C);
        -fx-background-radius: 30 30 30 30;
    }

    .button4:pressed
    {
        -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
        -fx-background-radius: 30 30 30 30;
    }

    .combo-box
    {
        -fx-background-color: #141124;
        -fx-border-color: #515658;
        -fx-border-radius: 30;
    }

    .combo-box:hover
    {
        -fx-background-color: #141124;
        -fx-border-color: #FFFFFF;
        -fx-border-radius: 30;
    }

    .combo-box:pressed
    {
        -fx-background-color: #141124;
        -fx-border-color: #FFFFFF;
        -fx-border-radius: 30;
    }

    .table-view .column-header,
    .table-view .column-header-background .filler{
        -fx-cell-size: 20;
        -fx-background-color: #2D75E0;
    }

    .table-view .column-header .label,
    {
        -fx-text-fill: white;
        -fx-font-weight: bold;
        -fx-alignment: CENTER_LEFT;
    }

    .table-view .cell{
        -fx-cell-size: 30;
        -fx-alignment: center-left;
        -fx-text-fill: #000000;
    }

    .table-row-cell:selected{
        -fx-background-color: rgb(127, 172, 243);
    }

    .table-row-cell:selected .text{
        -fx-fill: white;
    }

    .table-view .increment-button, .table-view .decrement-button{
        -fx-background-color: transparent;
        -fx-background-radius: 2em;
    }

    .table-view .scroll-bar:horizontal .track,
    .table-view .scroll-bar:vertical .track{
        -fx-background-color: transparent;
        -fx-border-color: derive(#2D75E8, 80%);
        -fx-background-radius: 2em;
        -fx-border-radius: 2em;
    }

    .table-view .scroll-bar:horizontal .thumb,
    .table-view .scroll-bar:vertical .thumb{
        -fx-background-color: derive(#2D75E8, 90%);
        -fx-background-insets: 2, 0, 0;
        -fx-background-radius: 2em;
    }

    .linear-grad
    {
        -fx-background-color: linear-gradient(to bottom left, #272727, #1B1B1B);
        -fx-font-family: Lato;
    }

    VBox{
        -fx-alignment: top_center;
    }

    .menu-button
    {
        -fx-text-fill: #646464;
        -fx-background-color: transparent;
        -fx-padding: 0 0 0 20;
    }

    .menu-button:hover
    {
        -fx-text-fill: #FFFFFF;
        -fx-background-color: #646464;
    }

    .menu-button:hover .menu-button-glyph
    {
        -fx-fill: #FFFFFF;
    }

    .menu-button:selected
    {
        -fx-text-fill: #FFFFFF;
        -fx-background-color: #646464;
    }

    .menu-button:selected .menu-button-glyph
    {
        -fx-fill: #FFFFFF;
    }


    .menu-button-glyph
    {
        -fx-fill: #646464;
    }


    .search-bar
    {
        -fx-background-radius: 20;
        -fx-text-fill: #000000;
        -fx-prompt-text-fill: #D4CEE3;
        -fx-padding: 10;
    }


    .searchBoxLabel {
        -fx-padding: 5 10 5 10;
    }
    .searchBoxLabelIcon {
        -fx-padding: 0 0 0 5;
        -glyph-size: 13;
        -glyph-name: SEARCH;
    }


    .scroll-pane > .viewport {
       -fx-background-color: transparent;
    }


    .trip-card
    {
        -fx-background-color: #FC6F63;
        -fx-background-radius: 20px;
        -fx-border-radius: 20px;
/*
        -fx-effect: dropshadow(gaussian ,#272727 , 12, 0, -2, 1);
*/
    }

    .trip-card:hover
    {
        -fx-background-color: #FFB7A1;
    }

    .trip-card .city
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 30.0;
    }


    .trip-card .city:hover
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 30.0;
    }


    .trip-card .city:pressed
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 30.0;
    }


    .trip-card .city:selected
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 30.0;
    }


    .trip-card .info
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 10.0;
    }

    .trip-card .info:hover
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 10.0;
    }


    .trip-card .info:pressed
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 10.0;
    }


    .trip-card .info:selected
    {
        -fx-text-fill: #FFFFFF;
        -fx-font-family: Lato;
        -fx-font-size: 10.0;
    }

    .locked-text
    {
        -fx-text-fill: #646464;
        -fx-font-family: Lato;
    }

    .profile-form
    {
        -fx-padding: 5 10 5 10;

    }